---
const now = new Date();
const hour = now.getHours();
let greeting = "Good Day";
if (hour < 12) {
  greeting = "Good Morning!";
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      .dark {
        color: #eee;
        background-color: #222;
      }
    </style>
  </head>
  <body id="page">
    <h1>Astro 5326</h1>
    <div>{greeting}</div>
    <button onclick="toggleTheme()">Toggle</button>
    <script is:client>
      function toggleTheme() {
        document.getElementById("page").classList.toggle("dark");
      }
    </script>
  </body>
</html>
